@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body{
    height: 1250px;
    width: 100%;
    font-family: 'Geologica', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    color:#fff;
}

a{
    text-decoration: none;
    color: #1126ac;
}

/*Header*/

header {
    width: 100%;
    height: 130px;
    background-color: #1126ac;
}

.div_header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_h1 {
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.div_h2 {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 25px;
}

#icon_nav {
    height: 50px;

}

#ace_logo {
    height: 60px;
}

/*Main*/

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-image: url(IMG/fundo12.jpeg);
    background-size: auto;
}

#tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posicionaMenu {
    position: absolute;
    width: 100%;
    height: 170px;
    text-align: center;
}

#menuNav {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    position: relative;
}

#abreMenu {
    position: relative;
    left: 40px;
    height: 35px;
    width: 35px;
}

.nav1 {
    margin-top: 25px;
    font-size: 1.3em;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

p {
    padding: 40px;
    font-weight: bold;
    font-size: 2.5em;
    text-decoration: underline;
}

#blocos {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.bloco {
    height: 50%;
    width: 50%;
    border: 10px #035ff4 solid;
    color: #DBE2ED;
    border-radius: 15px;
    background-color: #1126ac;
    padding: 25px;
    margin: 0px 0px 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txtP {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 15px;
}

.txt {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: justify;
    font-weight: bold;
    font-size: 1em;
}

.alfinete {
    transform: scaleX(-1); 
    height: 50px; 
    position: relative;
    right: 35%;
    top: 15%;
}


/*Footer*/

footer {
    width: 100%;
    height: 10%;
    background-color: #1126ac;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-bottom: 15px;
    color: #DBE2ED;
}

.logof {
    height: 40px;
    margin: 6px;
}

.divf0 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.divf1 {
    margin-bottom: 10px;
}